* {
    margin: 0;
    padding: 0;
    /* border: 1px solid black; */
}

/* Body */

body {
    background-color: lightgray;
    
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* Header */

.img-container {
    text-align: center;
}
img {
    width: 200px;
}

/* Main */

.input-container {
    text-align: center;
}
#msg {
    text-align: center;
    font-size: 125%;
    font-style: italic;
    margin-bottom: 1rem;
}

/* Input */ 

input[type=text] {
    width: 25%;
    height: 2rem;
    text-align: center;
    font-size: 110%;
    border-radius: 4px;
}
input[type=text]:hover {
    background-color: rgba(240, 158, 8, 0.65);
}
input[type=button], button {
    width: 5rem;
    height: 2.2rem;
    padding: 0.4rem;
    background-color: black;
    color: white;
    border-radius: 4px;
}
input[type=button]:hover, button:hover {
    cursor: pointer;
}
input[type="checkbox"] {
    text-align: center;
    font-size: 120%;
    margin: 0 auto;
    border-bottom: 1px solid grey;
    margin-bottom: 0.5rem;
    background-color: lightgrey;
}
.todolist, #donelist {
    text-align: center;
    font-size: 150%;
    background-color: lightgray;
    margin: 0 auto;
    width: 70%;
    border-bottom: 1px solid grey;
}
label {
    margin: 1.5rem;
}
#container {
    margin: 0 auto;
    width: 90%;
    height: 425px;
    background-color: rgba(170, 168, 163, 0.65);
    position: relative;
    top: 1rem;
    display: none;
    border-radius: 7px;
}
.title {
    text-align: center;
    font-size: 110%;
    text-decoration: underline;
    font-style: italic;
    font-weight: bold;
    margin-top: 0.5rem;
}
.todo, .done {
    text-align: center;
    font-size: 160%;
    text-decoration: underline;
    font-weight: bold;
    padding: 1rem;
}

/* Responsive Design */

@media screen and (max-width: 580px) {
    img {
        width: 300px;
    }
}
